.header {
    margin-top: 20px;
}
.header__box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.header__left {
}
.header__subTitle {
    font-size: 16px;
    font-weight: 700;
    padding-left: 35px;
    position: relative;
    margin-bottom: 20px;
    &::before {
        content: '';
        position: absolute;
        background-image: url("../img/Bildschirmfoto.png");
        background-size: cover;
        width: 30px;
        height: 30px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
.header__imgWrp {
    max-width: 100%;
    max-height: 100%;
}
.header__img {
    width: 100%;
    height: 100%;
}
.header__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
}
.header__title {
    @include h1Title;
}
.header__ul {
    list-style-type: disc;
    list-style-position: inside;
    line-height: 30px;
}
.header__btnTelWrp {
}
.header__tel {
    @include btn
}